@charset "UTF-8";
@font-face {
  font-family: "Abril";
  src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
  }
}
/*Reseteo*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos generales y compartidos en varias páginas */
body {
  font-family: "Poppins", sans-serif;
  background-color: #0c181d;
  color: #fffffa;
  background-image: url(../assets/images/fondonave.jpg);
  background-size: contain;
  padding-top: 120px;
}

h1 {
  font-family: "Abril";
  color: #C9CEBD;
  font-size: 70px;
  align-self: center;
  text-align: center;
  width: 80%;
  margin: 10px;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.6s;
}

.banner {
  font-family: "Abril";
  color: #C9CEBD;
  font-size: 60px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-h1 {
  font-size: 80px;
  margin: auto;
  border: none;
}

.btn-primary {
  background-color: #992034;
  color: #C9CEBD;
  font-size: 24px;
  border-radius: 2px;
  border: 2px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn:active {
  background-color: #0c181d;
  color: #C9CEBD;
  border: 2px solid rgba(74, 36, 46, 0.7058823529);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #0c181d;
  color: #C9CEBD;
  border: 2px solid rgba(74, 36, 46, 0.7058823529);
}

/* Estilos del Navbar */
.sticky-top {
  position: sticky;
  top: 0;
}

.bg-darkred {
  background-color: #992034;
  color: #C9CEBD;
  font-family: "Abril";
  font-size: 24px;
  border-bottom: 2px solid #0c181d;
}
.bg-darkred .contenedor-de-imagen {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.bg-darkred .contenedor-de-imagen .logo-navbar {
  height: 100%;
}
.bg-darkred .nav-link {
  color: #C9CEBD;
  border-bottom: 10px solid transparent;
  transition: 0.7s;
}
.bg-darkred .nav-link:hover {
  border-bottom: 10px solid #0c181d;
}
.bg-darkred .offcanvas-header {
  background-color: rgba(74, 36, 46, 0.7058823529);
  color: #0c181d;
}

.logo-navbar:hover {
  transform: rotate(-30deg);
  transition: 1s;
}

/* Estilos del footer */
footer {
  margin-top: 150px;
  bottom: 0;
  width: 100%;
  height: 300xp;
  min-height: fit-content;
  background-color: #992034;
  color: #fffffa;
  font-size: 15px;
}
footer .footer-content {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: space-around;
}
footer .footer-content a {
  padding: 5px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #C9CEBD;
  font-size: 14px;
  border: 2px solid #0c181d;
}

/* Estilos del Hero Section */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero .hero-card {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
  padding: 10px;
  margin-top: 40px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #C9CEBD;
  border: 3px solid #992034;
  border-radius: 10px;
  transition: 0.5s;
}
.hero .hero-card .hero-carousel {
  height: 100%;
  width: 48%;
}
.hero .hero-card .hero-carousel img {
  border-radius: 10px;
}
.hero .hero-card:hover {
  background-color: rgba(13, 37, 48, 0.6235294118);
}
.hero .hero-card .hero-bilboard {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 20px 10px 80px;
}
.hero .hero-card .hero-bilboard .otoño-bilboard {
  font-family: "abril";
  color: #C9CEBD;
  font-size: 110px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0.7;
  justify-self: flex-start;
  align-self: flex-start;
}
.hero .hero-card .hero-bilboard .invierno-bilboard {
  font-family: "abril";
  color: #C9CEBD;
  font-size: 91px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0.7;
  justify-self: flex-start;
  align-self: flex-start;
}
.hero .hero-card .hero-bilboard .año-bilboard {
  font-family: "abril";
  color: #C9CEBD;
  font-size: 120px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0.7;
  justify-self: flex-start;
  align-self: flex-start;
}
.hero .hero-card .hero-bilboard p {
  font-family: "poppins";
  font-size: 25px;
  color: #C9CEBD;
  margin-top: 40px;
}

/* Estilos del Sidekick */
.sidekick {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
}
.sidekick .card {
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 320px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 2px solid #992034;
  color: #C9CEBD;
}
.sidekick .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidekick .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.sidekick .card .card-title {
  font-weight: bold;
}
.sidekick .card :hover {
  background-color: rgba(13, 37, 48, 0.6235294118);
  transition: 0.5s;
}

/* Estilos de los extras */
.extras {
  margin: 40px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}
.extras .poster-flaco {
  width: 48%;
  border-radius: 8px;
  background: url(../../assets/images/Flaco.jpg);
  margin: 0;
  padding: 20px;
}
.extras .poster-haedo {
  width: 48%;
  border-radius: 8px;
  background: url(../../assets/images/Haedo.jpg);
  margin: 0;
  padding: 20px;
}
.extras .poster-pulp {
  width: 48%;
  border-radius: 8px;
  background: url(../../assets/images/pulp-fiction.jpg);
  margin: 0;
  padding: 20px;
}
.extras .poster-mural {
  width: 48%;
  border-radius: 8px;
  background: url(../../assets/images/mesi-maradona.jpg);
  margin: 0;
  padding: 20px;
}

.player {
  width: 100%;
  height: 100%;
}
.player h2 {
  font-family: "Abril";
  font-size: 40px;
  color: #C9CEBD;
  justify-content: center;
}

/* Estilos de Contacto */
.form-container {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}
.form-container .data-form {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.form-container .data-form .map {
  height: 100%;
  width: 100%;
  border: 2px solid #992034;
  border-radius: 8px;
}
.form-container .data-form .form-control,
.form-container .data-form .form-select,
.form-container .data-form .form-control:focus {
  background-color: #0c181d;
  color: #C9CEBD;
  border-color: #C9CEBD;
}
.form-container .data-form .form-check-input {
  background-color: #0c181d;
}
.form-container .data-form .form-check-input:checked {
  background-color: rgba(74, 36, 46, 0.7058823529);
  border-color: #992034;
}

.faq-container {
  margin-top: 60px;
  margin-bottom: 80px;
}
.faq-container .contact-extras {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.faq-container .contact-extras .item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  padding: 10px;
  margin: 0;
  background-color: rgba(74, 36, 46, 0.7058823529);
  border: 2px solid #992034;
  border-radius: 8px;
  color: #C9CEBD;
  text-align: center;
  align-items: center;
  gap: 5px;
}

/* Estilos de la galería */
.grid-container .g-barrio:hover {
  background-color: rgba(128, 128, 128, 0.5607843137);
  transition: 1s;
}
.grid-container .g-musica:hover {
  background-color: rgba(170, 25, 49, 0.7450980392);
  transition: 1s;
}
.grid-container .g-cine:hover {
  background-color: rgba(219, 161, 52, 0.5960784314);
  transition: 1s;
}
.grid-container .g-cultura:hover {
  background-color: rgba(68, 18, 68, 0.6509803922);
  transition: 1s;
}
.grid-container .colection-name {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: "Abril";
  font-size: 60px;
  color: #C9CEBD;
  text-align: center;
}
.grid-container .grid {
  width: 77%;
  border: 3px solid #992034;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  grid-template-areas: "a1 a2 a3" "a4 a5 a6";
}
.grid-container .grid .box {
  width: 100%;
  height: 100%;
  max-height: 350px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 8px;
  border: 1px solid white;
}
.grid-container .grid .box .b1 {
  grid-area: a1;
}
.grid-container .grid .box .b2 {
  grid-area: a2;
}
.grid-container .grid .box .b3 {
  grid-area: a3;
}
.grid-container .grid .box .b4 {
  grid-area: a4;
}
.grid-container .grid .box .b5 {
  grid-area: a5;
}
.grid-container .grid .box .b6 {
  grid-area: a6;
}
.grid-container .grid .box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}
.grid-container .grid .box h3 {
  position: absolute;
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  color: #C9CEBD;
  background-color: #992034;
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
}
.grid-container .grid .box .btn-galery {
  margin: 10px;
  padding: 5px;
  position: absolute;
  justify-self: end;
  align-self: flex-start;
  background-color: transparent;
  color: transparent;
  border: 2px solid transparent;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.grid-container .grid .box:hover h3 {
  color: transparent;
  background-color: transparent;
}
.grid-container .grid .box:hover .btn-galery {
  margin: 10px;
  padding: 5px;
  position: absolute;
  /* width: 48%; */
  justify-self: end;
  align-self: end;
  background-color: #992034;
  border: 2px solid transparent;
  color: #C9CEBD;
  font-size: 30px;
  transition: 0.3s;
}
.grid-container .grid .box:hover .btn-galery:hover {
  background-color: #0c181d;
  color: #C9CEBD;
  border: 2px solid rgba(74, 36, 46, 0.7058823529);
}

.goods-details {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.goods-details .item-card-v1 {
  background-color: rgba(74, 36, 46, 0.7058823529);
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  margin: 0;
  border: 2px solid #992034;
  border-radius: 8px;
  color: #C9CEBD;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.goods-details .item-card-v1 h3 {
  font-weight: bold;
  font-size: 28px;
  justify-self: flex-start;
}
.goods-details .item-card-v2 {
  background-color: rgba(206, 145, 14, 0.6509803922);
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  margin: 0;
  border: 2px solid #992034;
  border-radius: 8px;
  color: #C9CEBD;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.goods-details .item-card-v2 h3 {
  font-weight: bold;
  font-size: 28px;
  justify-self: flex-start;
}
.goods-details .item-card-v3 {
  background-color: rgba(43, 42, 36, 0.6235294118);
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  margin: 0;
  border: 2px solid #992034;
  border-radius: 8px;
  color: #C9CEBD;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.goods-details .item-card-v3 h3 {
  font-weight: bold;
  font-size: 28px;
  justify-self: flex-start;
}
.goods-details .item-card-v4 {
  background-color: rgba(13, 37, 48, 0.6235294118);
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 10px;
  margin: 0;
  border: 2px solid #992034;
  border-radius: 8px;
  color: #C9CEBD;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.goods-details .item-card-v4 h3 {
  font-weight: bold;
  font-size: 28px;
  justify-self: flex-start;
}

/* Estilos del Info */
.info-container {
  display: flex;
  background-color: rgba(74, 36, 46, 0.7058823529);
  color: #C9CEBD;
  border: 2px solid #992034;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.info-container .info-bilboard {
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}
.info-container .info-bilboard h2 {
  font-family: "Abril";
  font-size: 40px;
  margin-bottom: 30px;
}

.info-poster {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-poster .grid-info {
  position: relative;
  display: grid;
  border: 4px solid #992034;
  border-radius: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "a2 a1 a3" "a5 a1 a6" "a4 a4 a6";
}
.info-poster .grid-info .info-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.info-poster .grid-info .info-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-poster .grid-info .ib1 {
  grid-area: a1;
}
.info-poster .grid-info .ib2 {
  grid-area: a2;
}
.info-poster .grid-info .ib3 {
  grid-area: a3;
}
.info-poster .grid-info .ib4 {
  grid-area: a4;
}
.info-poster .grid-info .ib5 {
  grid-area: a5;
}
.info-poster .grid-info .ib6 {
  grid-area: a6;
}
.info-poster-text {
  position: absolute;
  background-color: rgba(74, 36, 46, 0.7058823529);
  border-radius: 10px;
  color: #fffffa;
  width: 60%;
  height: 60%;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.info-poster-text .info-poster-title {
  font-family: "Abril";
  color: #C9CEBD;
  font-size: 50px;
  padding: 15px;
  margin: 10px;
}

/* Estilos de shop */
.shop-container {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  background-color: rgba(74, 36, 46, 0.7058823529);
  border: 2px solid #992034;
  border-radius: 8px;
}
.shop-container .shop-form {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.shop-container h2 {
  margin: 60px 0px 10px 0px;
}
.shop-container .order-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.form-select:focus {
  background-color: #0c181d;
  color: #fffffa;
  border-color: #C9CEBD;
}

.form-control,
.form-select,
.form-control:focus {
  background-color: #0c181d;
  color: #C9CEBD;
  border-color: #C9CEBD;
}

.form-check-input {
  background-color: #0c181d;
}

.form-check-input:checked {
  background-color: rgba(74, 36, 46, 0.7058823529);
  border-color: #992034;
}

.client-form {
  padding: 10px;
  margin: 20px;
}

.shop-closer {
  margin-top: 80px;
  padding: 60px;
}

.follow-container {
  margin-top: 40px;
  padding: 20px;
  background-color: rgba(13, 37, 48, 0.6235294118);
  border: 2px solid #992034;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.follow-container .follow-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  padding: 10px;
}
.follow-container .follow-box p {
  padding: 10px;
  text-align: center;
  width: 33%;
  height: 100%;
  background-color: rgba(74, 36, 46, 0.7058823529);
  border: 2px solid #992034;
  border-radius: 8px;
}

/* Media Queries */
@media (max-width: 1208px) {
  .hero {
    flex-direction: column;
    margin: 0;
  }
  .hero .hero-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .hero .hero-card .hero-carousel {
    width: 80%;
  }
  .hero .hero-card .hero-bilboard {
    margin-top: 40px;
    align-self: center;
    justify-self: center;
  }
  .sidekick {
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center height 60%;
  }
  .sidekick .card {
    width: 70%;
  }
  .sidekick .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .extras {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .extras .poster {
    width: 100%;
  }
  .grid-container .grid {
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
  }
}
.info-container .info-logo {
  align-self: center;
  justify-self: center;
}

@media (max-width: 992px) {
  .info-container {
    flex-direction: column;
  }
  .info-poster-text {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 768px) {
  main {
    align-items: center;
    justify-content: center;
  }
  .hero {
    flex-direction: column;
    margin: 0;
  }
  .hero .hero-card {
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .hero .hero-card .hero-carousel {
    width: 80%;
  }
  .hero .hero-card .hero-bilboard {
    width: 100%;
    margin: 0;
    align-self: center;
    justify-self: center;
    justify-content: center;
  }
  .grid-container {
    margin: 0;
  }
  .grid {
    width: 100%;
    border: none;
  }
  .goods-details {
    flex-direction: column;
    align-items: center;
  }
  .goods-details .item-card-v1,
  .goods-details .item-card-v2,
  .goods-details .item-card-v3 {
    width: 90%;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    width: 100%;
    margin: 0;
  }
  .form-container .data-form {
    width: 100%;
    margin: 0;
  }
  .form-container h2 {
    width: 100%;
  }
  .map {
    height: 100%;
    width: 100%;
  }
  .faq-container {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .faq-container .contact-extras {
    flex-direction: column;
    align-items: center;
  }
  .faq-container .contact-extras .item-card {
    width: 100%;
  }
  .info-poster-text {
    width: 80%;
    height: 80%;
    font-size: 15px;
  }
  .info-poster-text .info-poster-title {
    font-size: 30px;
  }
  .shop-container h2 {
    margin: 10px;
    padding: 20px;
  }
  .footer-content {
    font-size: 14px;
    padding: 5px;
  }
  .footer-content a {
    font-size: 14px;
    border: none;
    font-weight: bold;
  }
}
.folow-container .follow-box {
  flex-direction: column;
}
.folow-container .follow-box p {
  width: 100%;
}

@media (max-width: 540px) {
  container {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 50px;
  }
  .banner {
    font-size: 40px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .hero {
    width: 100%;
  }
  .hero .hero-card {
    width: 100%;
  }
  .hero .hero-card .hero-carousel {
    width: 100%;
  }
  .hero .hero-card .hero-bilboard {
    width: 100%;
  }
  .hero .hero-card .hero-bilboard .otoño-bilboard {
    font-size: 90px;
  }
  .hero .hero-card .hero-bilboard .invierno-bilboard {
    font-size: 60px;
  }
  .hero .hero-card .hero-bilboard .año-bilboard {
    font-size: 90px;
  }
  .grid-container .grid .box {
    transition: 0.5s;
  }
  .grid-container .grid .box h3 {
    font-size: 15px;
  }
  .grid-container .grid .box h3:hover {
    font-size: 15px;
  }
  .grid-container .grid .box .btn-galery {
    font-size: 15px;
  }
  .grid-container .grid .box .btn-galery:hover {
    font-size: 15px;
  }
  .grid-container .grid .box:hover .btn-galery {
    font-size: 15px;
  }
  .info-logo img {
    width: 300px;
    height: 100%;
  }
  .info-poster {
    flex-direction: column;
  }
  .info-poster .info-poster-text {
    position: relative;
    width: 80%;
    height: 80%;
    font-size: 15px;
    margin-top: 40px;
  }
  .info-poster .info-poster-text .info-poster-title {
    font-size: 30px;
  }
  .shop-container {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
