/* Estilos del Navbar */

.sticky-top {
    position: sticky;
    top: 0;
}

.bg-darkred {
    background-color: $BaseRed;
    color: $BaseText;
    font-family: "Abril";
    font-size: 24px;
    border-bottom: 2px solid $BackgroundColor;

    .contenedor-de-imagen {
        width: 100px;
        height: 100px;
        margin: 0;
        padding: 0;

        .logo-navbar {
            height: 100%;
        }
    }

    .nav-link {
        color: $BaseText;
        border-bottom: 10px solid transparent;
        transition: .7s;


        &:hover {
            border-bottom: 10px solid $BackgroundColor;
        }
    }

    // .nav-link {
    //     color: $BaseText;
    //     background-color: rgb(61, 11, 11);
    //     padding: 10px;
    //     background-position: 0% 100%;
    //     background-repeat: no-repeat;
    //     background-size: 0% 100%;
    //     transition: background-size .5s;

    //     &:hover {
    //         background-size: 100% 100%;
    //     }


    .offcanvas-header {
        background-color: $DarkRed;
        color: $BackgroundColor;
    }
}

.logo-navbar:hover {
    transform: rotate(-30deg);
    transition: 1s;
}