/*Reseteo*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* Estilos generales y compartidos en varias páginas */

body {
    font-family: $MainFont;
    background-color: $BackgroundColor;
    color: #fffffa;
    background-image: url(../assets/images/fondonave.jpg);
    background-size: contain;
    padding-top: 120px;
}

h1 {
    font-family: "Abril";
    color: $BaseText;
    font-size: 70px;
    align-self: center;
    text-align: center;
    width: 80%;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-h1 {
    font-size: 80px;
    margin: auto;
    border: none;
}
