@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translate(0, 20%);
    }

    100% {
        opacity: 1;
    }
}

.flexible {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}