// $BackgroundColor:#0c181d;
// $BaseRed:#88303E;
// $BaseText:#C9CEBD;
// $DarkHover:#0d25309f;
// $DarkRed:#4a242e;

$BackgroundColor:#070c27;
$BaseRed:#206405;
$BaseText:#e0cffd;
$DarkHover:#02034167;
$DarkRed:#1c002e;