//Colores
$BackgroundColor:#0c181d;
$BaseRed:#992034;
$BaseText:#C9CEBD;
$DarkHover:#0d25309f;
$DarkRed:#4a242eb4;

//Fuentes

@font-face {
    font-family: 'Abril';
    src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Delicious';
    src: url(../assets/fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}

//font-family: 'Abril', serif;
//font-family: 'Poppins', sans-serif;

$MainFont: 'Poppins', sans-serif;
$TitleFont: 'Abril';


// Variables para Galería

$styles: (
    v1: $DarkRed,
    v2: #ce910ea6,
    v3: #2b2a249f,
    v4: $DarkHover
);