/* Estilos de la galería */

.grid-container {

    .g-barrio:hover {
        background-color: #8080808f;
        transition: 1s;
    }

    .g-musica:hover {
        background-color: #aa1931be;
        transition: 1s;
    }

    .g-cine:hover {
        background-color: #dba13498;
        transition: 1s;
    }

    .g-cultura:hover {
        background-color: #441244a6;
        transition: 1s;
    }

    .colection-name {
        margin-top: 40px;
        margin-bottom: 0;
        font-family: $TitleFont;
        font-size: 60px;
        color: $BaseText;
        text-align: center;
    }

    .grid {
        width: 77%;
        border: 3px solid $BaseRed;
        border-radius: 8px;
        margin-top: 20px;
        padding: 15px;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 15px;
        grid-template-areas:
            'a1 a2 a3'
            'a4 a5 a6';

        .box {
            width: 100%;
            height: 100%;
            max-height: 350px;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            border-radius: 8px;
            border: 1px solid white;

            .b1 {
                grid-area: a1;
            }
    
            .b2 {
                grid-area: a2;
            }
    
            .b3 {
                grid-area: a3;
            }
    
            .b4 {
                grid-area: a4;
            }
    
            .b5 {
                grid-area: a5;
            }
    
            .b6 {
                grid-area: a6;
            }

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 8px;
                overflow: hidden;
            }

            h3 {
                position: absolute;
                align-self: flex-start;
                font-family: $MainFont;
                color: $BaseText;
                background-color: $BaseRed;
                border-radius: 3px;
                border: 2px solid transparent;
                font-size: 24px;
                padding: 5px;
                margin: 10px;
            }

            .btn-galery {
                margin: 10px;
                padding: 5px;
                position: absolute;
                justify-self: end;
                align-self: flex-start;
                background-color: transparent;
                color: transparent;
                border: 2px solid transparent;
                font-family: $MainFont;
                font-size: 24px;
            }

            &:hover {
                .btn-galery {
                    background-color: $BaseRed;
                    border: 2px solid transparent;
                    transform: translate(0px, -50px);
                }

                .btn-galery {
                    margin: 10px;
                    padding: 5px;
                    position: absolute;
                    justify-self: end;
                    align-self: end;
                    color: $BaseText;
                    font-size: 24px;
                    transition: .7s;

                    &:hover {
                        background-color: $BackgroundColor;
                        color: $BaseText;
                        border: 2px solid $DarkRed;
                    }
                }
            }
        }
    }

}


.goods-details {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    @each $key, $value in $styles {
        .item-card-#{$key} {
            background-color: $value;
            display: flex;
            flex-direction: column;
            width: 320px;
            padding: 10px;
            margin: 0;
            border: 2px solid $BaseRed;
            border-radius: 8px;
            color: $BaseText;
            text-align: center;
            align-items: center;
            gap: 5px;

            h3 {
                font-weight: bold;
                font-size: 28px;
                justify-self: flex-start;
            }
        }
    }
}
