/* Estilos del Hero Section */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .hero-card {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: auto;
        padding: 10px;
        margin-top: 40px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: $BaseText;
        border: 3px solid $BaseRed;
        border-radius: 10px;
        transition: .5s;

        .hero-carousel {
            height: 100%;
            width: 48%;

            img {
                border-radius: 10px;
            }
        }

        &:hover {
            background-color: $DarkHover;
        }

        .hero-bilboard {
            height: 100%;
            width: 48%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 100px 20px 10px 80px;

            .otoño-bilboard {
                font-family: "abril";
                color: $BaseText;
                font-size: 110px;
                margin-bottom: 0;
                padding: 0;
                line-height: 0.7;
                justify-self: flex-start;
                align-self: flex-start;
            }

            .invierno-bilboard {
                font-family: "abril";
                color: $BaseText;
                font-size: 91px;
                margin-bottom: 0;
                padding: 0;
                line-height: 0.7;
                justify-self: flex-start;
                align-self: flex-start;
            }

            .año-bilboard {
                font-family: "abril";
                color: $BaseText;
                font-size: 120px;
                margin-bottom: 0;
                padding: 0;
                line-height: 0.7;
                justify-self: flex-start;
                align-self: flex-start;
            }

            p {
                font-family: "poppins";
                font-size: 25px;
                color: $BaseText;
                margin-top: 40px;
            }
        }
    }
}

/* Estilos del Sidekick */

.sidekick {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;

    .card {
        display: flex;
        flex-direction: column;
        height: 520px;
        width: 320px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: 2px solid $BaseRed;
        color: $BaseText;


        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .card-title {
            font-weight: bold;
        }

        :hover {
            background-color: $DarkHover;
            transition: .5s;
        }

    }
}


/* Estilos de los extras */

.extras {
    margin: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;

    .poster {
        display: flex;
        width: 48%;
        border-radius: 8px;

        .poster-img {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

            .poster-text {
                background-color: #111;
                opacity: 0.5;
                font-size: 30px;
                font-weight: bold;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}


.player {
    width: 100%;
    height: 100%;

    h2 {
        font-family: $TitleFont;
        font-size: 40px;
        color: $BaseText;
        justify-content: center;
    }
}