/* Media Queries */

////////////////////////////////////////////////////Media queries para pantalla normal 16:9
@media (max-width:1208px) {

    //Media queries del index
    .hero {
        flex-direction: column;
        margin: 0;

        .hero-card {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;

            .hero-carousel {
                width: 80%;
            }

            .hero-bilboard {
                margin-top: 40px;
                align-self: center;
                justify-self: center;
            }
        }
    }

    .sidekick {
        padding-top: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center height 60%;

        .card {
            width: 70%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }

    .extras {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .poster {
            width: 100%;
        }
    }

    //Media queries de la galería

    .grid-container {

        .grid {
            padding: 5px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 5px;
            grid-template-areas:
                'a1 a2'
                'a3 a4'
                'a5 a6';
        }

    }
}

//Media queries del info 

.info-container {
    .info-logo {
        align-self: center;
        justify-self: center;
    }
}

///////////////////////////////////////////////// Media queries 992px

@media (max-width:992px) {
    .info-container {
        flex-direction: column;
    }

    .info-poster-text {
        width: 80%;
        height: 80%;
    }
}

////////////////////////////////////////////////////Media queries 768px
@media (max-width:768px) {

    main {
        align-items: center;
        justify-content: center;
    }

    //Media queries del index

    .hero {
        flex-direction: column;
        margin: 0;

        .hero-card {
            margin: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;

            .hero-carousel {
                width: 80%;
            }

            .hero-bilboard {
                width: 100%;
                margin: 0;
                align-self: center;
                justify-self: center;
                justify-content: center;
            }
        }
    }

    //Media queries de la galería

    .grid-container {
        margin: 0;
    }

    .grid {
        width: 100%;
        border: none;
    }

    .goods-details {
        flex-direction: column;
        align-items: center;

        .item-card-v1,
        .item-card-v2,
        .item-card-v3 {
            width: 90%;
        }
    }

    //Media queries contacto

    .form-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        width: 100%;
        margin: 0;

        .data-form {
            width: 100%;
            margin: 0;
        }

        h2 {
            width: 100%;
        }
    }

    .map {
        height: 100%;
        width: 100%;
    }

    .faq-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        .contact-extras {
            flex-direction: column;
            align-items: center;

            .item-card {
                width: 100%;
            }
        }
    }

    //Media queries del info 

    .info-poster-text {
        width: 80%;
        height: 80%;
        font-size: 15px;

        .info-poster-title {
            font-size: 30px;
        }
    }


    .shop-container h2 {
        margin: 10px;
        padding: 20px;
    }

    .footer-content {
        font-size: 14px;
        padding: 5px;
    }

    .footer-content a {
        font-size: 14px;
        border: none;
        font-weight: bold;
    }
}

//Mediaquieries del shop 

.folow-container {
    .follow-box {
        flex-direction: column;
        p {
            width: 100%;
        }
    }
}


////////////////////////////////////////////////////Media queries para 540px
@media (max-width:540px) {

    container {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 50px;
    }

    .banner {
        font-size: 40px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    //Media queries del index

    .hero {
        width: 100%;

        .hero-card {
            width: 100%;

            .hero-carousel {
                width: 100%;
            }

            .hero-bilboard {
                width: 100%;

                .otoño-bilboard {
                    font-size: 90px;
                }

                .invierno-bilboard {
                    font-size: 60px;
                }

                .año-bilboard {
                    font-size: 90px;
                }

            }
        }
    }

    //Media queries de la galería
    .grid-container {
        .grid {
            .box {
                transition: .5s;

                h3 {
                    font-size: 15px;

                    &:hover {
                        font-size: 15px;
                    }
                }

                .btn-galery {
                    font-size: 15px;

                    &:hover {
                        font-size: 15px;
                    }
                }

                &:hover {
                    .btn-galery {
                        font-size: 15px;
                    }
                }
            }
        }
    }


    //Media queries del info 

    .info-logo {
        img {
            width: 300px;
            height: 100%;
        }
    }

    .info-poster {
        flex-direction: column;

        .info-poster-text {
            position: relative;
            width: 80%;
            height: 80%;
            font-size: 15px;
            margin-top: 40px;

            .info-poster-title {
                font-size: 30px;
            }
        }
    }



    //Media queries del shop

    .shop-container {
        margin-top: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }
}