/* Estilos de shop */

.shop-container  {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    background-color: $DarkRed;
    border: 2px solid $BaseRed;
    border-radius: 8px;
}

.form-select:focus {
    background-color: $BackgroundColor;
    color: #fffffa;
    border-color: $BaseText;
}

.shop-container h2 {
    margin: 60px 0px 10px 0px;
}

.shop-form {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.client-form {
    padding: 10px;
    margin: 20px;
}

.shop-closer    {
    margin-top: 80px;
    padding: 60px;
}
