/* Estilos de shop */

.shop-container {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    background-color: $DarkRed;
    border: 2px solid $BaseRed;
    border-radius: 8px;

    .shop-form {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin: 60px 0px 10px 0px;
    }

    .order-form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
    }
}


.form-select:focus {
    background-color: $BackgroundColor;
    color: #fffffa;
    border-color: $BaseText;
}

.form-control,
.form-select,
.form-control:focus {
    background-color: $BackgroundColor;
    color: $BaseText;
    border-color: $BaseText;
}

.form-check-input {
    background-color: $BackgroundColor;
}

.form-check-input:checked {
    background-color: $DarkRed;
    border-color: $BaseRed;
}


.client-form {
    padding: 10px;
    margin: 20px;
}

.shop-closer {
    margin-top: 80px;
    padding: 60px;
}

.follow-container {
    @include flex(row, center, space-around, 20px);
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 20px;

    @each $llave, $value in $fondos {
        .follow-box-#{$llave} {
            @extend .flexible;
            background: linear-gradient(222deg, #3a040dc4, #0d25309f), $value;
            background-size:cover;
            background-repeat: no-repeat;
            padding: 10px;
            width: 30%;
            height: 300px;
            text-decoration: none;
            border-radius: 8px;
            
            @if $llave == gorra {   
                color: #0a412e;
                font-family: 'Luckiest';
            } @else if $llave == taza {
                color: #3b5a5a;
                font-family: 'Permanent';
            } @else if $llave == almohadon {
                color: #3d032c;
                font-family: 'Madimi';
            } @else if $llave == campera {
                color: #000000;
                font-family: 'Delicious';
            } @else if $llave == botella {
                color: #a84c2191;
                font-family: Arial, Helvetica, sans-serif;
            } @else if $llave == vinilo {
                color: #839094;
                font-family: 'Abril';
            }

            h3 {
                font-size: 40px;
            }

            &:hover {
                transform: scale(1.05);
                transition: .5s;
            }
        } 


    }
    
}


